<a href="https://colab.research.google.com/github/jooney-ai/Python/blob/main/Programmers_Turn_the_natural_numbers_upside_down_to_form_an_arrayed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Turn the natural numbers upside down to form an arrayed


> Flip the natural number 'n' and return it to an array with each digit as an element. For example, if 'n' is 12345 it returns [5,4,3,2,1].


Restricted Conditions

*   n is a natural number less than 10,000,000,000.


```
for example : if n = 12345, return [5,4,3,2,1]
```

In [ ]:
import time

In [ ]:
def test():

    print(solution(12345), end = '\n\n')

    end = time.time()

    print("Operation time :", f"{end - start:.5f} sec")

In [ ]:
start = time.time()

def solution(n):

# Solution ===========================

    return [ int(str(n)[num]) for num in range( len(str(n))-1 , -1 , -1 ) ]
      
# ====================================
    return answer


# TEST

test()

In [ ]:
start = time.time()

def solution(n):

# Solution ===========================

    return [ int(num) for num in str(n)[::-1] ]
      
# ====================================
    return answer


# TEST

test()

In [ ]:
start = time.time()

def solution(n):

# Solution ===========================

    return list(map(int, reversed(str(n))))
      
# ====================================
    return answer


# TEST

test()