<a href="https://colab.research.google.com/github/jooney-ai/Python-basic/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300_%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("1번.\t""Hello World")
print('Hello World')
print('Hello','World')
print('Hello'+'World')
print('Hello''World')
# 완료

1번.	Hello World
Hello World
Hello World
HelloWorld
HelloWorld

In [ ]:
print("2번.\t""Mary's cosmetics")   # 다른 따옴표로 구분 가능
print('''Mary's cosmetics''')
# 완료

2번.	Mary's cosmetics
Mary's cosmetics

In [ ]:
print("3번.\t"'''신씨가 소리질렀다. "도둑이야".''')
print('신씨가 소리질렀다. "도둑이야".')
# 완료

3번.	신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

In [ ]:
print("4번.\t"'''"C:|Windows"''')
print('"C:|Windows"')
# 완료
print("C:|Windows") # ?

4번.	"C:|Windows"
"C:|Windows"
C:|Windows

In [ ]:
print("5번.\t""안녕하세요.\n만나서\t\t반갑습니다.""\n '\\n' 의 역할은 엔터")
# 완료

5번.	안녕하세요.
만나서		반갑습니다.
 '\n' 의 역할은 엔터

In [ ]:
print("6번.\t"'오늘은 일요일')
# 완료

6번.	오늘은 일요일

In [ ]:
print("7번.\t"'naver;kakao;sk;samsung')
# 완료
print("naver","kakao","sk","samsung", sep = ";")
print("naver"+"kakao"+"sk"+"samsung", sep = ";")   # 띄어쓰기가 없으면 바뀌지 않음

7번.	naver;kakao;sk;samsung
naver;kakao;sk;samsung
naverkakaosksamsung

In [ ]:
print("8번.\t"'naver/kakao/sk/samsung')
# 완료
print('naver','kakao','sk','samsung', sep = '/')
print('naver''kakao''sk''samsung', sep = '/')   # 띄어쓰기가 없으면 바뀌지 않음

8번.	naver/kakao/sk/samsung
naver/kakao/sk/samsung
naverkakaosksamsung

In [ ]:
print("9번.\t""first",end = ' ');print("second")
# 완료

9번.	first second

In [ ]:
print("10번.\t",5/3)
5/3
# 완료

10번.	 1.6666666666666667

1.6666666666666667

# 　　**10 번까지 완료**

---

In [ ]:
# 11 번
삼성전자 = '50000원'

print(int(삼성전자.replace('원',''))*10,'원')
#print(int(삼성전자))
#print(int(input(삼성전자)))
# 완료

500000 원

In [ ]:
# 12 번
시가총액 = '298조'
현재가 = '50000원'
PER = 15.79
# 완료

In [ ]:
# 13 번
s , t = "hello" , "python"
print(s+'!',t)
# 완료

hello! python

In [ ]:
# 14 번
8
# 완료

In [ ]:
# 15 번
a = "132"
print(type(a))
# 완료

<class 'str'>

In [ ]:
# 16 번 : 정수형 변환
num_str = "720"
int(num_str)
# 완료

720

In [ ]:
# 17 번 : 문자열 변환
num = 100
print(str(num))
print(type(str(num)))
# 완료

100
<class 'str'>

In [ ]:
# 18 번
print(float("15.79"))
print(type(float("15.79")))
# 완료

15.79
<class 'float'>

In [ ]:
# 19 번
year = "2020"
print(int(year), int(year) + 1, int(year) + 2)
year = int(year), int(year) + 1, int(year) + 2
print(year)
type(year)
# 완료

2020 2021 2022
(2020, 2021, 2022)

tuple

In [ ]:
# 20 번
monthly_cost = '48584원'
monthly_cost.replace('원','')
total_cost = int(monthly_cost.replace('원','')) * 36
#a = '100원'
#a.replace('원','')
print(total_cost , '원')
#print(a.replace('원',''))
# 완료

1749024 원

# 　　**20 번까지 완료**

---

In [ ]:
# 21 번
letters = 'python'
print(letters[0] , letters[2])
#print(letters[0,2])
#p = letters.pop[0]
#print(p)
# 완료

p t

In [ ]:
# 22 번 : 슬라이싱
license_plate = "24가 2210"
print(license_plate[:-5:-1])  # 순서도 거꾸로 됨
print(license_plate[3:])
print(license_plate[4:])
print(license_plate[-4:])
# 완료

0122
 2210
2210
2210

In [ ]:
# 23 번 
string = "홀짝홀짝홀짝"
#del string[0]
print(string.replace('짝',''))
print(string[::2])
print(string[0],string[2],string[4])
print(string[0]+string[2]+string[4])
print('string[0]''string[2]''string[4]')
# 완료

홀홀홀
홀홀홀
홀 홀 홀
홀홀홀
string[0]string[2]string[4]

In [ ]:
# 24 번 : 거꾸로 슬라이싱
string = "PYTHON"
print(string[::-1])
# 완료

NOHTYP

In [ ]:
# 25 번 : 치환
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))
#del phone_number[]
# 완료

010 1111 2222

TypeError: ignored

In [ ]:
# 26 번
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))
# 완료

01011112222

In [ ]:
# 27 번
url = "http://sharebook.kr"
#print(url[:-3:-1])
print((url.split('.'))[1])
print((url.split('.'))[-1])
len(url)
print(url[-2:])
print(url[17:])
# 완료

kr
kr
kr
kr

In [ ]:
# 28 번
lang = 'python'
lang[0] = 'P'
print(lang)
print('python')
# 완료

TypeError: ignored

　　 에러 : 문자열은 수정 불가　　'str' object does not support item assignment

In [ ]:
# 29 번 : 특정문자 대문자
string = 'abcdfe2a354a32a'
#string = string.replace('a','A')
#print(string.upper('a','A'))
print(string.upper())
print(string)
print(string.replace('a','A'))
# 완료

ABCDFE2A354A32A
abcdfe2a354a32a
Abcdfe2A354A32A

In [ ]:
# 30 번
string = 'abcd'
string.replace('b','B')
#string = string.replace('b','B')
print(string)
print('aBcd')
# 완료

abcd
aBcd

# 　　**30 번까지 완료**

---

In [ ]:
# 31 번
a = "3"
b = "4"
print(a + b)
34
print(type(a + b))
# 완료
print(a,b)

34
<class 'str'>
3 4

In [ ]:
# 32 번
print("Hi" * 3)
print("HiHiHi")
# 완료

HiHiHi
HiHiHi

In [ ]:
# 33 번
print('-' * 80)
len('-' * 80)
# 완료

--------------------------------------------------------------------------------

80

In [ ]:
# 34 번
t1 = 'python'
t2 = 'java'
print((t1 + t2) * 4)
print((t1,t2)*4)
#print((t1 + t2) * 4 , )
t3 = t1 , t2
print(t3)
print(((t1 + t2) * 4).replace('n','n ').replace('p',' p'))
print((t1 + ' ' + t2 + ' ') * 4)

pythonjavapythonjavapythonjavapythonjava
('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')
('python', 'java')
 python java python java python java python java
python java python java python java python java

　　 문자열끼리 더한후 곱셈

In [ ]:
# 35 번
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:",name1,"나이:",age1)
print("이름:",name2,"나이:",age2)
# 완료
print("이름: %s 나이: %d" % (name1,age1))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10

　　 % formatting 은 %s : 문자열 , %d : 정수형 데이터타입 (뒤에 % 후 변수 이름)

In [ ]:
# 36 번
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))
# 완료

In [ ]:
# 37 번 ??
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:",name1,"나이:",str(age1))
print("이름:",name2,"나이:",str(age2))
print("이름: " + name1,"나이: " + str(age1))
print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 김민수 나이: 10

　　 f-string 은 f" {변수} "

In [ ]:
# 38 번
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',','')) , type(int(상장주식수.replace(',',''))))
print(type(int(상장주식수.replace(',',''))))
# 완료

5969782550 <class 'int'>
<class 'int'>

In [ ]:
# 39 번
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
# 완료

2020/03

In [ ]:
# 40 번
data = "   삼성전자    "
print(data.strip())
# 완료

삼성전자

# 　**40 번까지 완료**
---

In [ ]:
# 41 번
ticker = "btc_krw"
print(ticker.upper())
print(ticker)
# 완료

BTC_KRW
btc_krw

In [ ]:
# 42 번
ticker = "BTC_KRW"
print(ticker.lower())
# 완료

btc_krw

In [ ]:
# 43 번
say = 'hello'
#print(say.upper('h'))
print(say.capitalize())

Hello

　　 맨앞 대문자 capitalize

In [ ]:
# 44 번
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

　　 endswith

In [ ]:
# 45 번
file_name = "보고서.xlsx"
#file_name.endswith('xlsx','xls')
#file_name.endswith('xlsx'\'xls')
#file_name.endswith('xlsx'|'xls')
file_name.endswith(('xlsx','xls'))

True

　　 slice indices must be integers or None or have an __index__ method

　　 endswith 여러개 확인

In [ ]:
# 46 번
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [ ]:
# 47 번
a = "hello world"
print(a.split(' '))
print(a.split())
# 완료

['hello', 'world']
['hello', 'world']

　　 alt 방향키 : 코드 위치 변경

　　 기본적으로 공백 기준으로 분리

In [ ]:
# 48 번
ticker = "btc_krw"
print(ticker.split('_'))
ticker.split('_')
# 완료

['btc', 'krw']

['btc', 'krw']

In [ ]:
# 49 번
date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

In [ ]:
# 50 번
data = "039490     "
print(data.rstrip())
# 완료

039490

# 　**50 번까지 완료**
---

In [ ]:
# 51 번
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank , type(movie_rank))
# 완료

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [ ]:
# 52 번
movie_rank = ['닥터 스트레인지','스플릿','럭키']
#print(movie_rank.append("배트맨"))
movie_rank.append("배트맨")
print(movie_rank)
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 53 번
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
#movie_rank[1] = "슈퍼맨"
#movie_rank.append("슈퍼맨")[1]
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

　　 insert(위치,원소)

In [ ]:
# 54 번
movie_rank = ['닥터 스트레인지','슈퍼맨','스플릿', '럭키', '배트맨']
del movie_rank[3]
#del movie_rank['럭키']
print(movie_rank)
#print(del movie_rank[3])
# 완료

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 55 번
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
#del movie_rank[2,3]
del movie_rank[2:]
#del movie_rank[2] 2 번
print(movie_rank)
# 완료

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 56 번
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]
langs = lang1 + lang2
print(langs)
# 완료

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 57 번
nums = [1,2,3,4,5,6,7]
#print(nums.max())
print('max : ', max(nums))
print('min : ', min(nums))
# 완료

max :  7
min :  1

In [ ]:
# 58 번
nums = [1,2,3,4,5]
print(sum(nums))
# 완료

15

In [ ]:
# 59 번
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)
# 완료

12

In [ ]:
# 60 번
nums = [1,2,3,4,5]
#print(nums.mean())
print(sum(nums) / len(nums))

3.0

# 　**60 번까지 완료**
---

In [ ]:
# 61 번
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
# 62 번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [ ]:
# 63 번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
# 64 번
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [ ]:
# 65 번
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])
print(interest[0], interest[2])

['삼성전자', 'Naver']
삼성전자 Naver

*   하나씩 호출해서 활용할수있음

In [ ]:
# 66 번
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우



*   ??

In [ ]:
# 67 번
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 68 번
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 69 번
string = "삼성전자/LG전자/Naver"
string = string.split('/')
print(string)
# 완료

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 70 번
data = [2, 4, 3, 1, 5, 10, 9]
print(data.sort())
print(sorted(data))
data.sort()
print(data)

None
[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

# 　**70 번까지 완료**
---

In [ ]:
# 71 번
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
# 72 번
movie_rank = ('닥터 스트레인지','스플릿','럭키')
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [ ]:
# 73 번
#tup = tuple()
tup = (1)
print(tup, type(tup))
tup = (1,)
print(tup, type(tup))

1 <class 'int'>
(1,) <class 'tuple'>



*   괄호안에 숫자 하나를 넣으면 정수로 인식
*   (숫자, ) 로 입력해야함

In [ ]:
# 74 번
t = (1, 2, 3)
t[0] = 'a'
'튜플은 수정불가 하므로'

TypeError: ignored

In [ ]:
# 75 번
t = 1, 2, 3, 4
#print('리스트',type(t))
print('튜플',type(t))
t = '가','나'
print(type(t))

튜플 <class 'tuple'>
<class 'tuple'>



*   사용자의 편의를 위해 괄호 없이도 동작
*   따라서 여러 데이터를 그냥 저장하면 튜플

In [ ]:
# 76 번
t = ('a', 'b', 'c')
#t.capitalize()
#t[0.upper()]
t = list(t)
t[0] = t[0].upper()
tuple(t)
# 또는 새로운 t = 'A','b','c'

('A', 'b', 'c')

　　 79 번 확인

In [ ]:
# 77 번
interest = ('삼성전자', 'LG전자', 'SK Hynix')
lis = list(interest)
print(lis, type(lis))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [ ]:
# 78 번
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tup = tuple(interest)
print(tup, type(tup))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [ ]:
# 79 번
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
print('기존 temp 에서 수정했으므로 temp?')

apple banana cake
기존 temp 에서 수정했으므로 temp?



*   ??? 위에서는 새로 대입하면 기존것은 삭제한다고

In [ ]:
# 80 번
t = tuple(range(1,100,1))
print(t)
print(len(t))
t = tuple(range(2,100,2))
print(t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)
99
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)
49

　　 이게되네?

# 　**80 번까지 완료**　**(4 개 취약)**
---

In [ ]:
# 81 번
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score , a , b = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 82 번
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
#scores = a , b , *valid_score
a , b , *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]



*   순서를 거꾸로 해야함

In [ ]:
# 83 번
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
#scores = a, valid_score*, b
a, *valid_score, b = scores
#print(scores)
#valid_score = scores[1]
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 84 번
temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [ ]:
# 85 번
menu = {'메로나' : 1000 , '폴라포' : 1200 , '빵빠레' : 1800}
menu

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
# 86 번
menu = {'메로나' : 1000 , '폴라포' : 1200 , '빵빠레' : 1800}
menu['죠스바'] = 1200
menu['월드콘'] = 1500
menu

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 87 번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:',ice['메로나'])

메로나 가격: 1000

In [ ]:
# 88 번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 89 번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 90 번
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
'없는 key 값을 출력했기 때문'

# 　**90 번까지 완료**　**(별 표현식)**
---

In [ ]:
# 91 번
inventory = { '메로나' : [300,20] , '비비빅' : [400,3] , '죠스바' : [250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 92 번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0], "원")

300 원

In [ ]:
# 93 번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], "개")

20 개

In [ ]:
# 94 번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 95 번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 96 번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 97 번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
#sum.icecream.values()
print(sum(list(icecream.values())))
print(sum(icecream.values()))

6700
6700

In [ ]:
# 98 번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
#new_product.update(icecream)
#new_product
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [ ]:
# 99 번
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
#print(zip(keys,vals))
#dic = {zip(keys:vals)}
#dic = zip(keys:vals)
dict(zip(keys,vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100 번
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

# 　**100 번까지 완료**　**(update , zip)**
---